* {
  margin: 0;
  padding: 0;
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f8f6f6;
  background-image: url(bgimgg.png.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right top 150px;
  background-attachment: scroll;
}
.header {
  width: 100%;
  height: 100vh;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #0d0d0d;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
.cointainer-header {
  justify-content: center;
  gap: 50px;
  background-color: #f8f6f6;
}

.header-left {
  margin-top: 20%;
  font-size: 25px;
}
.header-left h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-left p span {
  color: #ff004f;
}

.header-left a {
  margin-right: 20px;
  text-decoration: none;
}
.skill {
  background-color: #f8f6f6;
}
.skill p {
  font-size: 20px;
  display: inline;
  margin-right: 50px;
}
.skill i {
  display: inline;
  margin-right: 50px;
}
/* about */
.about {
  padding: 80px 0;
  color: #0d0d0d;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  position: 100px;
}
.about-col-1 img {
  background-color: #f8f6f6;
  width: 100%;
  size: 500px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  color: #0d0d0d;
  font-size: 60px;
  font-weight: 600;
  background-color: transparent;
}
.about-content {
  background-color: #f8f6f6;
  color: #0d0d0d;
  font-size: medium;
  width: 100vh;
  height: 100%;
}
/* services */
.services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, mimax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: rgb(229, 57, 57);
  margin-top: 20px;
  display: inline-block;
}
/* contact-me */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin: top 30px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: tranform(0.5s);
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-10px);
}
/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: white;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  font-style: bold;
}

.button:hover {
  background: #ff004f;
  color: #0b0c0c;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button:focus {
  outline: none;
  border: 2px solid #0f0f0f;
}

.button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #101010;
  padding: 15px;
  margin: 15px 0;
  color: #fcf9f9;
  font-size: 18px;
  border-radius: 6px;
}
